.linkUnderline {
    border-bottom-width: 0;
    background-size: 0 1px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .3s ease-in-out;
}

.lightUnderline {
    background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
}

.darkUnderline {
    background-image: linear-gradient(transparent, transparent), linear-gradient(#000, #000);
}

.linkUnderline:hover {
    background-size: 100% 1px;
    background-position: 0 100%
}